body 
{
    width: 80%;
    margin: auto;
    text-align: center;
}

.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 
{
    font-family: 'PixelSplitterBold', sans-serif;
    text-align: center;
}

.form-container {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;
}

.form-group {
margin-bottom: 10px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-group input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group button {
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px
}

.form-group button:hover {
  background-color: #000;
  color: #fff;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 5px solid #ccc;
  padding: 20px;
  width: 300px;
  height: 100px;
  font-size: 24px; /* Adjust font size as needed */
  text-align: center;
  display: none;
}
