/* Common Styles */
.PageHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh;
  max-height: 120px; /* Maximum height for larger screens */
  display: grid;
  grid-template-areas: "nav span logo";
  grid-template-columns: auto 1fr auto;
  background-color: #A6785D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Logo {
  grid-area: logo;
  max-height: 100%; /* Adjust as needed */
  min-height: 60px; /* Adjust as needed */
  height: 15vh; /* Adjust as needed */
  justify-self: end;
  padding-right: 2vw; /* Adjust based on viewport width */
}

.Title {
  color: #270E16;
  font-size: calc(1.6vw + 20px); /* Responsive font size based on viewport size */
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  grid-area: span;
  display: grid;
}

.Nav {
  display: flex;
  grid-area: nav;
}

.NavButton {
  position: relative;
  z-index: 0;
  padding: 2vh 3vw; /* Adjust based on viewport size */
  background-color: transparent;
  border: none;
  color: #270E16;
  font-size: calc(0.8vw + 15px); /* Responsive font size */
  font-weight: 500;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  display: grid;
}

.NavButton:hover {
  background-color: #570B24;
  color: #F2E1C1;
}

.NavButton.active {
  background-color: #570B24;
  color: #F2E1C1;
}

  
/* Mobile Styles */
@media (max-width: 700px) {
  .PageHeader {
    grid-template-areas: "nav logo";
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 10px; /* Adjust padding as needed */
  }

  .NavButton {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    padding-left: 0px;
    color: #270E16;
    font-size: 15px;
    font-weight: 500;
    padding: 7px;
    text-align: center;
  }

  .Logo {
    display: block;
    grid-area: logo;
    height: auto; /* Allow the height to adjust based on width */
    width: 30vw; /* Adjust the width as a percentage of the viewport width */
    max-width: 130px; /* Set a maximum width to prevent it from becoming too large on larger screens */
    justify-self: end;
    padding-right: 10px;
  }

  .NavButton:hover {
    background-color: #570B24;
    color: #F2E1C1;
  }
  
  .NavButton.active {
    background-color: #570B24;
    color: #F2E1C1;
  }
}
