body 
{
    margin: auto;
    text-align: center;
    background-color: #F2E1C1;
    color: #270E16;
    font-size: calc(15px + 0.390625vw);
}
.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 
{
    font-family: 'Forma DJR Micro', sans-serif;
    text-align: center;
    color: #270E16;
}

h3
{
    color: #270E16;
}

p
{
    color: #270E16;;
}

a
{
    background-color: #570B24;
    color: #F2E1C1;
}

.form-container {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;
}

.form-group {
margin-bottom: 10px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-group input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group button {
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px
}

.form-group button:hover {
  background-color: #505f86;
  color: #fff;
}

.form-group button:disabled {
  display: none;
}

.custom-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.custom-icons a:not(:last-child) {
  margin-right: 30px;
}

.custom-icons img {
  width: 50px;
  height: 50px;
}
