body 
{
    margin: auto;
    text-align: center;
    background-color: #0b0e27;
    color: #c9c3d7;
    font-size: calc(15px + 0.390625vw);
}
.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 
{
    font-family: 'PixelSplitterBold', sans-serif;
    text-align: center;
}

p
{
  color: #cce3f1;
}

.form-container {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;
}

.form-group {
margin-bottom: 10px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-group input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group button {
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px
}

.form-group button:hover {
  background-color: #505f86;
  color: #fff;
}

.form-group button:disabled {
  display: none;
}
